<!-- *************************   Header Start  ******************************** -->

<!-- *************************   Header Close   *************************** -->

<!-- *************************   Body  start  ***************************** -->

<div >
    <router-outlet></router-outlet>
</div>

<!-- *************************   Body Close  ****************************** -->

<!-- *************************   Footer Start   *************************** -->



<!-- *************************   Footer Close   ****************************** -->


